---
layout: page
title: O nás
description: Máca a Vláďa
background: '/img/bg-about.jpg'
---
<div>
Jsme Máca a Vláďa a naše stránka se jmenuje RychloVláďa. Jsme zkušení řemeslníci, kteří jsou hrdí na svou práci a snaží se vždy poskytnout nejlepší možné služby. Naše dílna se nachází v metru B na stanici Opatov, kde jsme připraveni vyhovět všem vašim potřebám v oblasti oprav obuvi, ortopedických a brašnářských oprav, ale také výroby klíčů.
</div>

<p>Svojí práci děláme nejen rychle, ale i kvalitně. Přijďte se o tom přesvědčit.</p>

<p>Věříme, že se k nám s důvěrou budete vracet.</p>

{% include h-card.html %}

{% include working_day.html %}

