---
layout: page
title: O nás
description: Máca a Vláďa
background: '/img/bg-about-Wide_image_of_the_male_craftsman_from_the_previous_picture,_now_meticulously_duplicating_metal_keys_using_a_key_cutting_machine._The_workshop_is_well-.webp'
keywords:   'O nás'
---
<div>
Jsme Máca a Vláďa a naše stránka se jmenuje RychloVláďa. Jsme zkušení řemeslníci, kteří jsou hrdí na svou práci a snaží se vždy poskytnout nejlepší možné služby. Naše dílna se nachází v metru C na stanici Opatov, kde jsme připraveni vyhovět všem vašim potřebám v oblasti oprav obuvi, ortopedických a brašnářských oprav, ale také výroby klíčů.
</div>

<p>Svojí práci děláme nejen rychle, ale i kvalitně. Přijďte se o tom přesvědčit.</p>

<p>Věříme, že se k nám s důvěrou budete vracet.</p>

{% include h-card.html %}

{% include working_day.html %}

