---
layout: page
title: Služby
description: Jaké služby poskytujeme
background: '/img/bg-about.jpg'
---
<ul class="list-group">
  <li class="list-group-item"><strong>Rychloopravna obuvi</strong>: Potřebujete opravit staré oblíbené boty, jsme tu pro vás. Zajistíme, aby vaše obuv byla vždy v nejlepším stavu.</li>
  <li class="list-group-item"><strong>Výroba klíčů</strong>: Ztratili jste klíče? Nebo potřebujete vytvořit náhradní klíč pro své blízké? Naše služby výroby klíčů jsou rychlé a spolehlivé.</li>
  <li class="list-group-item"><strong>Obuvnické práce</strong>: Provádíme veškeré obuvnické práce od obnovy starých bot, přes úpravy nových bot až po výrobu bot na míru.</li>
  <li class="list-group-item"><strong>Ortopedické opravy</strong>: Poskytujeme specializované ortopedické služby pro ty, kteří potřebují zvláštní péči o své boty. Chceme, abyste se cítili pohodlně a zdravě.</li>
  <li class="list-group-item"><strong>Brašnářské opravy</strong>: Opravíme vaše batohy, kabelky, brašny a jiné kožené předměty. Přineste nám svou oblíbenou věc a my ji pro vás opravíme!</li>
</ul>

{% include hcard.html %}

{% include working_day.html %}
