<div><h4 class="section-heading">Dovolená:</h4>
<div itemprop="specialOpeningHoursSpecification" itemscope itemtype="https://schema.org/OpeningHoursSpecification">
  <time itemprop="validFrom" datetime="2025-08-04"></time>
  <time itemprop="validThrough" datetime="2025-08-17"></time>
  <meta itemprop="dayOfWeek" content="https://schema.org/Monday">
  <meta itemprop="dayOfWeek" content="https://schema.org/Tuesday">
  <meta itemprop="dayOfWeek" content="https://schema.org/Wednesday">
  <meta itemprop="dayOfWeek" content="https://schema.org/Thursday">
  <meta itemprop="dayOfWeek" content="https://schema.org/Friday">
  <meta itemprop="dayOfWeek" content="https://schema.org/Saturday">
  <meta itemprop="dayOfWeek" content="https://schema.org/Sunday">
  <meta itemprop="opens" content="Closed">
  <meta itemprop="closes" content="Closed">
  <p>Dovolená: <time itemprop="validFrom" datetime="2025-08-04">4. srpna 2025</time> – <time itemprop="validThrough" datetime="2025-08-17">17. srpna 2025</time> <strong>(Zavřeno)</strong></p>
</div>
</div>
