<div><h4 class="section-heading">Dovolená:</h4>
<div itemprop="specialOpeningHoursSpecification" itemscope itemtype="https://schema.org/OpeningHoursSpecification">
  <time itemprop="validFrom" datetime="2024-07-29"></time>
  <time itemprop="validThrough" datetime="2024-08-02"></time>
  <meta itemprop="dayOfWeek" content="https://schema.org/Monday">
  <meta itemprop="dayOfWeek" content="https://schema.org/Tuesday">
  <meta itemprop="dayOfWeek" content="https://schema.org/Wednesday">
  <meta itemprop="dayOfWeek" content="https://schema.org/Thursday">
  <meta itemprop="dayOfWeek" content="https://schema.org/Friday">
  <meta itemprop="opens" content="Closed">
  <meta itemprop="closes" content="Closed">
  <p>Dovolená: <time itemprop="validFrom" datetime="2024-07-29">29. července 2024</time> - <time itemprop="validThrough" datetime="2024-08-02">2. srpna 2024</time>: <strong>Zavřeno</strong></p>
</div>
</div>
