<div>
  <h4 class="section-heading">Dovolená:</h4>
  <div itemprop="specialOpeningHoursSpecification" itemscope itemtype="https://schema.org/OpeningHoursSpecification">
    <meta itemprop="validFrom" content="2023-11-01">
    <meta itemprop="validThrough" content="2023-11-01">
    <meta itemprop="dayOfWeek" content="https://schema.org/Wednesday">
    <meta itemprop="opens" content="00:00">
    <meta itemprop="closes" content="00:00">
    <p>Středa 1. listopadu 2023 (Svátek Všech svatých): <strong>Zavřeno</strong></p>
  </div>
  <div itemprop="specialOpeningHoursSpecification" itemscope itemtype="https://schema.org/OpeningHoursSpecification">
    <meta itemprop="validFrom" content="2023-11-02">
    <meta itemprop="validThrough" content="2023-11-02">
    <meta itemprop="dayOfWeek" content="https://schema.org/Thursday">
    <meta itemprop="opens" content="00:00">
    <meta itemprop="closes" content="00:00">
    <p>Čtvrtek 2. listopadu 2023 (Dušičky): <strong>Zavřeno</strong></p>
  </div>
</div>
