<section>
<h2 class="section-heading">Kde nás najdete:</h2>
<p>Vestibul metra C Opatov</p>
<div class="h-card" itemscope itemtype="https://schema.org/LocalBusiness">
 <a class="u-url p-name p-org" href="https://rychlovlada.cz" itemprop="url"><strong itemprop="name">RychloVláďa.cz</strong></a><br>
 <!-- <meta itemprop="name" content="RychloVláďa.cz"> -->
 <p>Kontaktní osoba: <span class="p-nickname" itemprop="employee">{{ site.vedouci_nickname }}</span> - <span class="p-given-name" itemprop="givenName">{{ site.vedouci_1_name }}</span> <span class="p-family-name" itemprop="familyName">{{ site.vedouci_2_name }}</span>, IČ: {{ site.ICO }}</p>
  <div>Adresa:</div>
  <div class="p-adr h-adr" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
    <div class="p-street-address" itemprop="streetAddress">{{ site.streetAddress }}</div>
    <div class="p-locality" itemprop="addressLocality">{{ site.addressLocality }}</div>
    <div class="p-region" itemprop="addressRegion">{{ site.addressRegion }}</div>
    <span class="p-postal-code" itemprop="postalCode">{{ site.postalCode }}</span>, <span class="p-country-name" itemprop="addressCountry">{{ site.addressCountry }}</span>
  </div>
  <br>
  <div>Telefon: <span class="p-tel btn" itemprop="telephone"><a href="tel:{{ site.telephone }}">{{ site.telephone_long }}</a></span></div>
  <div>e-mail:
    <span>
      <a href="#mail" class="u-email btn" itemprop="email" onclick="var email = 'marcela.olb[zavinac]seznam.cz'; this.href = 'mailto:' + email.replace('[zavinac]', '@'); return true;">marcela.olb[zavinac]seznam.cz</a>
    </span>
  </div>
  <br>
  <div>GPS:</div>
  <div class="p-geo h-geo" itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
    <span class="p-latitude" itemprop="latitude">{{ site.latitude }}</span>,
    <span class="p-longitude" itemprop="longitude">{{ site.longtitude }}</span>
    <div><a class='btn' rel='nofollow' href="{{ site.google_maps }}" title='Zobrazit na Google Maps'>Zobrazit na Google Maps</a></div>
    <div><a class='btn' rel='nofollow' href="{{ site.mapy_cz }}" title='Zobrazit na mapy.cz'>Zobrazit na Mapy.cz</a></div>
  </div>
  <br>
  <div>Naše služby:</div>
  <ul class="h-product" itemprop="makesOffer" itemscope itemtype="https://schema.org/Offer">
    <li class="p-category p-name" itemprop="category"><strong>Rychloopravna obuvi</strong></li>
    <li class="p-category p-name" itemprop="category"><strong>Opravna obuvi</strong></li>
    <li class="p-category p-name" itemprop="category"><strong>Výroba klíčů</strong></li>
    <li class="p-category p-name" itemprop="category"><strong>Duplikování klíčů</strong></li>
    <li class="p-category p-name" itemprop="category"><strong>Kopírování klíčů</strong></li>
    <li class="p-category p-name" itemprop="category"><strong>Obuvnické práce</strong></li>
    <li class="p-category p-name" itemprop="category"><strong>Ortopedické práce</strong></li>
    <li class="p-category p-name" itemprop="category"><strong>Ortopedické úpravy</strong></li>
    <li class="p-category p-name" itemprop="category"><strong>Brašnářské práce</strong></li>
    <li class="p-category p-name" itemprop="category"><strong>Brašnářské úpravy</strong></li>
    <li class="p-category p-name" itemprop="category"><strong>Zámečnictví</strong></li>
  </ul>
  <meta itemprop="priceRange" content="{{ site.priceRange }}">
  <meta itemprop="image" content="/assets/logo.svg">
</div>
</section>
