<h3 class="section-heading">Kde nás najdete:</h3>
<p>Vestibul metra C Opatov</p>
<div class="vcard" itemscope itemtype="https://schema.org/LocalBusiness">
 <a class="url fn org" href="http://www.rychlovlada.cz" itemprop="url">RychloVláďa.cz</a><br>
 <meta itemprop="name" content="RychloVláďa.cz">
 <p>Kontaktní osoba: <span class="nickname">{{ site.vedouci_nickname }}</span> - <span class="given-name">{{ site.vedouci_1_name }}</span> <span class="family-name">{{ site.vedouci_2_name }}</span>, IČ: {{ site.ICO }}</p>
  <div>Adresa:</div>
  <div class="adr">
    <div class="street-address">{{ site.streetAddress }}</div>
    <div class="locality">{{ site.addressLocality }}</div>
    <div class="region">{{ site.addressRegion }}</div>
    <span class="postal-code">{{ site.postalCode }}</span>, <span class="country-name">{{ site.addressCountry }}</span>
  </div>
  <br>
  <div>Telefon: <span class="tel btn"><a href="tel:{{ site.telephone }}">{{ site.telephone_long }}</a></span></div>
  <div>e-mail:
    <span>
      <a href="#mail" class="email btn" onclick="var email = 'marcela.olb[zavinac]seznam.cz'; this.href = 'mailto:' + email.replace('[zavinac]', '@'); return true;">marcela.olb[zavinac]seznam.cz</a>
    </span>
  </div>
  <br>
  <div>GPS:</div>
  <div class="geo">
    <span class="latitude">{{ site.latitude }}</span>,
    <span class="longitude">{{ site.longtitude }}</span>
    <a class='btn' href="https://goo.gl/maps/iNxbfPzqraGs1Hv79">Zobrazit na Google Maps</a>
  </div>
  <br>
  <div>Naše služby:</div>
  <ul>
    <li class="category" itemprop="category"><strong>Rychloopravna obuvi</strong></li>
    <li class="category" itemprop="category"><strong>Opravna obuvi</strong></li>
    <li class="category" itemprop="category"><strong>Výroba klíčů</strong></li>
    <li class="category" itemprop="category"><strong>Duplikování klíčů</strong></li>
    <li class="category" itemprop="category"><strong>Kopírování klíčů</strong></li>
    <li class="category" itemprop="category"><strong>Obuvnické práce</strong></li>
    <li class="category" itemprop="category"><strong>Ortopedické práce</strong></li>
    <li class="category" itemprop="category"><strong>Ortopedické úpravy</strong></li>
    <li class="category" itemprop="category"><strong>Brašnářské práce</strong></li>
    <li class="category" itemprop="category"><strong>Brašnářské úpravy</strong></li>
    <li class="category" itemprop="category"><strong>Zámečnictví</strong></li>
  </ul>
</div>
