<div>
<div itemscope itemtype="https://schema.org/Store">
<meta itemprop="name" content="{{ site.title }}">
<img class="img-fluid" src="/assets/boty.svg" width="500" height="335" alt="Boty {{ site.title }}">
<meta itemprop="image" content="/assets/logo.svg">
 <meta itemprop="priceRange" content="{{ site.priceRange }}">
 <meta itemprop="telephone" content="{{ site.telephone_long }}">
  <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
    <meta itemprop="streetAddress" content="{{ site.streetAddress }}">
    <meta itemprop="postalCode" content="{{ site.postalCode }}">
    <meta itemprop="addressLocality" content="{{ site.addressLocality }}">
  </div>
 <section>
 <h3 class="section-heading">Otevírací doba</h3>
 <!--
 <div itemprop="openingHours" content="Mo,Tu,We,Th 08:00-18:00">Pondělí–Čtvrtek: <strong><time datetime="08:00">08:00</time>–<time datetime="18:00">18:00</time></strong></div>
 <span>Sobota–Neděle: <strong>Zavřeno</strong></span>
 -->
 <div itemprop="openingHours" content="Mo 08:00-18:00, Tu 08:00-18:00, We 08:00-18:00, Th 08:00-18:00, Fr 08:00-14:00">
    Pondělí–Čtvrtek: <strong><time datetime="08:00">08:00</time>–<time datetime="18:00">18:00</time></strong><br>
    Pátek: <strong><time datetime="08:00">08:00</time>–<time datetime="14:00">14:00</time></strong><br>
    Sobota–Neděle: <strong>Zavřeno</strong>
 </div>
 
<!--   <p>Pátek v lichém týdnu: <time datetime="08:00">08:00</time>–⁠<time datetime="14:00">14:00</time></p>
  <p>Pátek v sudém týdnu: Zavřeno</p>

<p id="nextFridayHours"></p> 
-->
<!--	
<p><strong>Po 1. dubnu 2024 došlo k <a href='/2024/03/21/zmena-provoznich-dnu' title='upozornění zákazníkům o úpravě provozních dnů'>úpravě provozních dnů</a> a nejsme již v pátky k dispozici.</strong></p>
-->
<p><strong>Po 5. listopadu 2024 došlo k <a href='/2024/11/05/zmena-provoznich-dnu' title='upozornění zákazníkům o úpravě provozních dnů'>úpravě provozních dnů</a> a jsme již opět v pátek našim zákazníkům k dispozici.</strong></p>
</section>

<!--
{% include dovolena.html %}
-->

<!-- Služby a jejich hodnocení -->
<div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
    <meta itemprop="ratingValue" content="4.9">
    <meta itemprop="reviewCount" content="256">
    <meta itemprop="bestRating" content="5">
    <meta itemprop="worstRating" content="3">
    <div itemprop="itemReviewed" itemscope itemtype="https://schema.org/LocalBusiness">
        <meta itemprop="name" content="{{ site.title }}">
        <meta itemprop="image" content="/assets/logo.svg">
        <meta itemprop="priceRange" content="{{ site.priceRange }}">
        <meta itemprop="telephone" content="{{ site.telephone_long }}">
        <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            <meta itemprop="streetAddress" content="{{ site.streetAddress }}">
            <meta itemprop="postalCode" content="{{ site.postalCode }}">
            <meta itemprop="addressLocality" content="{{ site.addressLocality }}">
        </div>
    </div>
</div>
<!--<script>
// Získáme aktuální datum a den v týdnu
let now = new Date();
let dayOfWeek = now.getDay();

// Pokud je sobota, neděle, nebo pátek po pracovní době (po 18:00), posuneme datum na následující pátek
if (dayOfWeek === 6 || dayOfWeek === 0 || (dayOfWeek === 5 && now.getHours() >= 18)) {
  now.setDate(now.getDate() + (5 + 7 - dayOfWeek) % 7);
} else if (dayOfWeek < 5) {
  now.setDate(now.getDate() + (5 - dayOfWeek));
}

// Určíme, zda je týden sudý nebo lichý podle ISO 8601
let start = new Date(now.getFullYear(), 0, 1);
let weekNumber = Math.ceil((((now - start) / 86400000 + start.getDay() + 1)/7));

// Korekce pro ISO 8601
if(start.getDay() > 4) {
  weekNumber--;
}

let isEvenWeek = weekNumber % 2 === 0;

// Nastavíme platnost otevíracích hodin
let validThrough = new Date(now);
validThrough.setHours(isEvenWeek ? 0 : 14);
validThrough.setMinutes(0);
validThrough.setSeconds(0);
validThrough.setMilliseconds(0);

let fridayHoursHTML = isEvenWeek ?
`<div itemprop="specialOpeningHoursSpecification" itemscope itemtype="https://schema.org/OpeningHoursSpecification">
    <meta itemprop="validFrom" content="${now.toISOString().split('T')[0]}">
    <meta itemprop="validThrough" content="${validThrough.toISOString()}">
    <meta itemprop="dayOfWeek" content="https://schema.org/Friday">
    <meta itemprop="opens" content="00:00">
    <meta itemprop="closes" content="00:00">
    Pátek (${now.toLocaleDateString()}): Zavřeno
</div>` :
`<div itemprop="specialOpeningHoursSpecification" itemscope itemtype="https://schema.org/OpeningHoursSpecification">
    <meta itemprop="validFrom" content="${now.toISOString().split('T')[0]}">
    <meta itemprop="validThrough" content="${validThrough.toISOString()}">
    <meta itemprop="dayOfWeek" content="https://schema.org/Friday">
    <meta itemprop="opens" content="08:00">
    <meta itemprop="closes" content="14:00">
    Pátek (${now.toLocaleDateString()}): <strong><time datetime="08:00">08:00</time>–⁠<time datetime="14:00">14:00</time></strong>
</div>`;

document.getElementById("nextFridayHours").innerHTML = fridayHoursHTML;
</script>-->
</div>
</div>
