---
layout: post
title: "📣 Upozornění zákazníkům! 📣"
subtitle: "Dovolená na Dušičky a Svátek všech svatých"
date: 2023-06-14
background: '/img/posts/2023-10-28-Fotorealisticky_sirokouhly_obrazek_osoby_se_strednim_odstinem_pleti_peclive_opravujici_zimni_boty_na_drevenem_stole,_zajisteni_ze_cele_boty_jsou.webp'
keywords:   'dovolená, dušičky, svátek všech svatých, rychlovláďa, rychloopravna obuvi, výroba klíčků'
sitemap: true
---

<p>
Milí zákazníci, chceme vás informovat, že si RychloVláďa udělá malou přestávku na začátku listopadu. Během Svátku Všech svatých (1. listopadu) a Dušiček (2. listopadu) budeme mít zavřeno.
</p>

<p>
I když budeme mít zavřeno, nenechte si ujít naše výjimečné služby po našem návratu! 
Nabízíme rychloopravnu obuvi, aby vaše boty byly připraveny na zimní sezónu, a také výrobu klíčů pro vaše zabezpečení domova. Váš odborník v oblasti oprav obuvi se postará o Vaše oblíbené páry,
 ať už potřebují nové podrážky, opravy švů nebo jiné úpravy. A pokud potřebujete nové klíče, naše služba výroby klíčů je rychlá a spolehlivá.
</p>

<p>Není problém nám zavolat či napsat a zeptat se, jestli jsou vaše oblíbené boty již hotové</p>
<img class="img-fluid" src="{{ site.baseurl }}/img/posts/2023-10-28-Fotorealisticky_obrazek_osoby_se_strednim_odstinem_pleti_peclive_opravujici_zimni_boty_na_drevenem_stole.Boty_jsou_vyrobeny_z_hnede_kuze.webp" alt="Fotorealistický obrázek osoby se středním odstínem pleti pečlivě opravující boty na dřevěném stole. Boty jsou vyrobeny z hnědé kůže." title="Fotorealistický obrázek osoby se středním odstínem pleti pečlivě opravující boty na dřevěném stole. Boty jsou vyrobeny z hnědé kůže. --Takto si našeho RychloVláďu představuje umělá inteligence DALLE">
<span class="caption text-muted">Takto si opraváře bot představuje umělá inteligence DALLE.</span>

{% include h-card.html %}

{% include working_day.html %}
