---
layout: post
title: "Tři, dva, jedna, start!"
subtitle: "Spustili jsme nový web, abyste nás snadno našli."
date: 2023-06-14
background: '/img/posts/winter-boots-3867775_1280.jpg'
---

<p>Určitě to znáte, máte svou oblíbenou prodejnu, opravnu, nebo třeba restauraci a nevíte, jestli tam zrovna dneska jsou.
Někdy se vypravíte třeba přes půl města, abyste zjistili, že mají zavřeno 😣. Tak s námi se Vám to už stát nemůže.</p>

<h2 class="section-heading">Nyní budete vědět, kdy máme otevřeno</h2>

<p>U nás se podíváte na webové stránky a hned budete vědět, jestli máme otevřeno.</p>

<p>Kdybychom měli dovolenou, nebo byli nemocní, zcela jistě Vám to prostřednictím našich stránek dáme vědět.</p>

{% include working_day.html %}

<h2 class="section-heading">Budete vědět, kde nás najít</h2>

<p>Naše adresa je sice jednoduchá - vestibul metra C Opatov. Ale můžete použít <a href="https://goo.gl/maps/iNxbfPzqraGs1Hv79" rel="nofollow" class="btn">Zobrazit na Google Maps</a> a nechat se  k nám navigovat, pokud trasu spolehlivě neznáte 😉.</p>

{% include hcard.html %}

<p>Občas se stává, že se nějaká provozovna přestěhuje. My chceme s našimi zákazníky udržovat kontakt a hýčkat si je. Kdybychom se někdy stěhovali, najdete zde tuto informaci.</p>

<h3 class="section-heading">Můžete nám zavolat či napsat a zeptat se na objednávku</h3>

<p>Není problém nám zavolat či napsat a zeptat se, jestli jsou vaše oblíbené boty již hotové</p>
<img class="img-fluid" src="{{ site.baseurl }}/img/posts/winter-boots-3867775_1280.jpg" alt="Demo boty">
<span class="caption text-muted">Tyto ve skutečnosti nejsou vaše, ale fotka je to hezká...</span>
