---
layout: post
title: "Upozornění zákazníkům"
subtitle: "Dovolená 29. července až 2. srpna 2024"
date: 2024-07-08
background: '/img/posts/2024-07-08-Sirokouhly_obraz_opravare_bot,_ktery_peclive_pracuje_na_oprave_paru_bot_v_dobre_organizovane_dilne_na_opravu_bot.webp'
keywords:   'dovolená, rychlovláďa, rychloopravna obuvi, opravna obuvi, výroba klíčků, brašnářské opravy, kopírování klíčů'
sitemap: true
---

<p>
S radostí oznamujeme, že naše zařízení bude od pondělí 29. července do pátku 2. srpna 2024 zavřené z důvodu dovolené. Potřebujeme nabrat nové síly, abychom vám mohli i nadále poskytovat špičkové služby.
</p>

<p>
Po našem návratu budeme opět připraveni nabídnout vám rychloopravy obuvi, výrobu klíčů, obuvnické a brašnářské práce a ortopedické opravy. Děkujeme za vaši podporu a těšíme se na vaši návštěvu po dovolené.
</p>

<figure>
<img class="img-fluid" src="{{ site.baseurl }}/img/posts/2024-07-08-Sirokouhly_obraz_opravare_bot,_ktery_peclive_pracuje_na_oprave_paru_bot_v_dobre_organizovane_dilne_na_opravu_bot.webp" alt="Širokoúhlý obrázek ukazující ruce osoby, nazývané Rychlovláda, pracující na stroji na výrobu klíčů v dílně." title="Širokoúhlý obraz opraváře bot, který pečlivě pracuje na opravě páru bot v dobře organizované dílně na opravu bot. -- Ilustrační obrázek vygenerovaný umělou inteligencí DALLE">
<figcaption class="caption text-muted">Ilustrační obrázek vygenerovaný umělou inteligencí DALLE</figcaption>
</figure>

{% include h-card.html %}

{% include working_day.html %}
