---
layout: post
title: "📣 Upozornění zákazníkům! 📣"
subtitle: "Dovolená 15. a 16. dubna 2024"
date: 2024-04-05
background: '/img/posts/2024-04-05-Sirokouhly_obrazek_ukazujici_ruce_osoby,_nazyvane_Rychlovlada,_pracujici_na_stroji_na_vyrobu_klicu_v_dilne.webp'
keywords:   'dovolená, dušičky, svátek všech svatých, rychlovláďa, rychloopravna obuvi, výroba klíčků'
sitemap: true
---

<p>
S radostí a očekáváním vám oznamujeme, že náš tým si vezme krátkou dovolenou. Od pondělí 15. dubna do úterý 16. dubna 2024 bude naše zařízení zavřené, abychom si mohli odpočinout a nabrat nové síly.
</p>

<h3>Proč právě teď?</h3>
<p>
Tento čas jsme si vybrali, abychom vám po našem návratu mohli poskytovat služby na nejvyšší možné úrovni. Věříme, že krátký čas strávený mimo pracoviště nám umožní vrátit se s novou energií a elánem.
</p>

<h3>Co můžete očekávat po našem návratu</h3>
<p>
Až se vrátíme, budeme plní energie a připraveni poskytovat naše <strong>skvělé služby</strong> v oblasti <strong>opravy obuvi</strong>, <strong>kopírování klíčů</strong>, <strong>brašnářských oprav</strong> a <strong>ortopedických úprav</strong>. Jakmile opět otevřeme, budeme tu pro vás s plně dobitými baterkami, připraveni se postarat o vaše boty, klíče, brašny a batohy s obvyklou pečlivostí a odborností.
</p>

<h3>Děkujeme za Vaši podporu</h3>
<p>
Ceníme si vaší loajality a děkujeme vám za pochopení a podporu. Vaše spokojenost a důvěra jsou pro nás nejcennější a těšíme se na to, až vám po naší dovolené opět poskytneme ty nejlepší služby.
</p>

<p>Těšíme se na vaší další návštěvu a přejeme vám krásné dny.</p>

<figure>
<img class="img-fluid" src="{{ site.baseurl }}/img/posts/2024-04-05-Sirokouhly_obrazek_ukazujici_ruce_osoby,_nazyvane_Rychlovlada,_pracujici_na_stroji_na_vyrobu_klicu_v_dilne.webp" alt="Širokoúhlý obrázek ukazující ruce osoby, nazývané Rychlovláda, pracující na stroji na výrobu klíčů v dílně." title="Širokoúhlý obrázek ukazující ruce osoby, nazývané Rychlovláda, pracující na stroji na výrobu klíčů v dílně. --Takto si našeho RychloVláďu představuje umělá inteligence DALLE">
<figcaption class="caption text-muted">Představa výroby klíčů od umělé inteligence DALLE</figcaption>
</figure>

{% include h-card.html %}

{% include working_day.html %}
