---
layout: post
title: "📣 Upozornění zákazníkům 📣 — přes prázdniny budeme mít v pátek zavřeno!"
subtitle: "Omezení pracovních dnů přes prázdniny na pondělí až čtvrtek"
date: 2025-07-08
background: '/img/posts/2025-07-08.webp'
keywords:   'pracovní doba, provozní dny, rychlovláďa, rychloopravna obuvi, výroba klíčků'
sitemap: true
---

<p>
Z provozních důvodů jsme nuceni přes prázdniny omezit naše pracovní dny na pondělí až čtvrtek. Děkujeme za vaši podporu a těšíme se na vaší příští návštěvu!
</p>

<img class="img-fluid" src="{{ site.baseurl }}/img/posts/2025-07-08.webp" alt="Obuvník opravující boty dle chatgpt" title="Obuvník opravující boty dle chatgpt">
<span class="caption text-muted">Takto si dílnu RychloVláďi představuje umělá inteligence DALLE.</span>


{% include h-card.html %}

{% include working_day.html %}
