---
layout: post
title: "Upozornění zákazníkům - dovolená 4.–17. srpna 2025"
subtitle: "Dovolená od 4. do 17. srpna 2025"
date: 2025-07-11
background: '/img/posts/2025-07-12-Sirokouhly_obraz_opravare,_ktery_odpociva_na_plazi_a_pije_drink.webp'
keywords:   'dovolená, rychlovláďa, rychloopravna obuvi, opravna obuvi, výroba klíčků, brašnářské opravy, kopírování klíčů'
sitemap: true
---

<p>
S radostí oznamujeme, že naše zařízení bude od pondělí 4. srpna 2025 zavřené z důvodu dovolené. A jelikož v rámci prázdninové otevírací doby máme v pátky volno, budeme pro vás k dispozici již v pondělí 18. srpna 2025.
</p>

<figure>
<img class="img-fluid" src="{{ site.baseurl }}/img/posts/2025-07-12-Sirokouhly_obraz_opravare,_ktery_odpociva_na_plazi_a_pije_drink.webp" alt="Širokoúhlý obrázek ukazující opraváře Rychlovláďu, jak odpočívá na pláži s drinkem."
 title="Širokoúhlý obrázek ukazující opraváře Rychlovláďu, jak odpočívá na pláži s drinkem. -- takto si zaslouženou dovolenou představuje umělá inteligence">
<figcaption class="caption text-muted">takto si zaslouženou dovolenou RychloVláďi představuje umělá inteligence</figcaption>
</figure>

{% include h-card.html %}

{% include working_day.html %}
